body {
	padding-top: 50px;
}

.btn-primary {
	background-color: #6788b2;
}

.btn-primary:hover {
	background-color: slategray;
}

.navbar-inverse {
	background-color: #6788b2;
	border-color: transparent;
}

.navbar {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
	position: absolute;
}

.logo-double {
	display: none;
}

.row-pad {
	padding-top: 1em;
	padding-bottom: 1em;
}

.row-pad-top {
	padding-top: 1em;
}

.row-pad-bottom {
	padding-bottom: 1em;
}

footer {
	width: 100%;
	padding: 1em;
}

#outputToggle {
	padding: 0 2em;
}

#output {
	overflow-y: scroll;
	max-height: 600px;
}

.pdf-icon {
	display: inline-block;
	float: left;
	font-size: 4em;
}

.search-result {
	border-radius: 5px;
	border: 1px #ccc solid;
	margin: 1em;
	width: 100%;
}

#searchResultsRecord {
	overflow-y: scroll;
	max-height: 600px;
	width: 100%;
	padding: 1em;
}

.popup-thumbnail {
	margin-bottom: 2em;
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.popup-thumbnail-ms {
	margin: 0 auto 2em auto;
	width: 380px;
}

.popup-thumbnail-ms img {
	width: 100%;
	height: auto;
}

ul.nav-tabs li:focus,
ul.nav-tabs li:hover,
ul.nav-tabs li a:focus,
ul.nav-tabs li a:hover {
	outline-style: none;
	box-shadow: none;
	border-color: transparent;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
	background-color: #6788b2;
}

a:link,
a:visited {
	color: #6788b2;
}

a:hover,
a:active {
	color: #39577d;
}

.smaller {
	font-size: 0.8em;
}

.input-group-addon-custom .btn {
	background: none !important;
	border: none !important;
	max-width: 90px;
}

.dropdown-custom {}

.input-group-addon-custom .btn:hover {
	background: none !important;
	border: none !important;
}

.input-group-addon-custom {
	padding: 0;
	max-width: 90px;
}

#searchPaneEvent {
	/*	background-color: cyan;*/
}

#searchPaneRecord {
	/*	background-color: yellow;*/
}

.search-results-container {
	background-color: none;
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

.result {
	margin: 10px 0 !important;
	padding: 10px;
	border: 1px black solid;
	border-radius: 5px;
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.eac-item b {
	background-color: rgba(255, 255, 20, 0.6);
}

.btn.btn-disabled,
button:disabled {
	cursor: not-allowed !important;
}

.easy-autocomplete {
	width: 100% !important;
}

.easy-autocomplete ul li {
	border-bottom: 1px #ccc solid;
}

.easy-autocomplete input:focus {
	border-color: #66afe9 !important;
	outline: 0 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6) !important;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6) !important;
}

.easy-autocomplete ul {
	margin-top: 5px;
	border-top-style: solid;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
	max-height: 500px;
	overflow-y: auto;
}


.result:hover,
.result:focus {
	box-shadow: 5px 5px 5px rgba(0, 0, 0.0.4);
	background-color: #eee;
	cursor: pointer;
}

#searchByLabel {
	display: inline;
	font-size: 1.5em;
	padding-right: 1em;
}

#searchByLabel strong {
	transform: translateY(-5px);
}

.result-line {
	display: block;
	clear: both;
}

.space-top {
	margin-top: 10px !important;
}

.space-bottom {
	margin-bottom: 10px !important;
}

.space {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.search-results {
	width: 100%;
	background-color: #eee;
	border-radius: 5px;
	border: 1px #444 solid;
	padding: 2em;
	text-align: center;
}

.form-inline label {
	margin-right: 1em;
}

.login {
	display: none;
}

.login strong,
.login a,
.login svg,
.login i {
	color: white !important;
}

.login-link-item {
	padding: 0 0.5em;
	color: white !important;
}

#logoutLink {
	font-size: 0.8em;
}

.tab-btn {
	color: #6788b2;
	text-decoration: none;
}

.tab-btn:hover,
.tab-btn:focus {
	cursor: pointer;
	color: #39577d;
}

#dropzoneArea {
	min-height: 150px;
	/*    padding: 20px;*/
	display: none;
	cursor: copy;
}

/*
.dropzone.dz-clickable .dz-message,
.dropzone.dz-clickable .dz-message * {
	cursor: copy !imporant;
}
*/

#tpl2 {
	display: none;
}

#tplEvent,
#tplRecord {
	display: none;
}

.red-border {
	-webkit-box-shadow: 0 0 0 5pt #a94442;
	box-shadow: 0 0 0 5pt #a94442;
}

.green-border {
	-webkit-box-shadow: 0 0 0 5pt #5cb85c;
	box-shadow: 0 0 0 5pt #5cb85c;
}

.red-border-selected {
	-webkit-box-shadow: 0 0 0 5pt #a94442, 0 0 8px 15px rgba(102, 175, 233, .6);
	box-shadow: 0 0 0 5pt #a94442, 0 0 8px 15px rgba(102, 175, 233, .6);
}

.green-border-selected {
	-webkit-box-shadow: 0 0 0 5pt #5cb85c, 0 0 8px 15px rgba(102, 175, 233, .6);
	box-shadow: 0 0 0 5pt #5cb85c, 0 0 8px 15px rgba(102, 175, 233, .6);
}

#enterMetadataMessage {
	display: none;
}

#enterMetadataMessageMs {
	display: none;
}

.extra-ms-info {
	display: none;
}


#goToSubmitButtonContainer {
	display: none;
}

.no-clicky {
	cursor: not-allowed !important;
}

#finalSubmitButtonContainer {
	display: none;
}

#finalSummaryContainer {
	display: none;
}

#uploadsInfoCommon {
	display: none;
}

/*
#metadataStartButton {
	display: none;
}
*/

.noScroll {
	overflow: hidden !important;
}

.clicky {
	cursor: pointer !important;
}

.dz-preview {
	cursor: pointer !important;
}

.dz-details {
	cursor: pointer !important;
}

.dropzone .dz-preview .dz-progress {
	top: 70% !important;
	background: linear-gradient(to bottom, #444, #666);
}

.dropzone .dz-preview .dz-progress .dz-upload {
	background: linear-gradient(to bottom, #6788b2, #3071a9);
}

.progress-text {
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	margin-left: 22px;
	font-size: 12px;
	height: 20px;
}

a.dz-remove,
a.dz-remove span,
a.dz-remove b,
a.dz-remove i {
	font-weight: bold;
	font-family: "Mallory MP Bold";
	color: #a94442 !important;
	text-decoration: none;
	cursor: pointer !important;
}

a.dz-remove:hover,
a.dz-remove span:hover,
a.dz-remove b:hover,
a.dz-remove i:hover {
	text-decoration: none !important;
	color: darkred !important;
}

.mimic-dz-item {
	width: 120px;
	padding: 0;
	text-align: center;
	margin: 16px;
	z-index: 10;
	display: inline-block;
	position: relative;
}

.mimic-dz-thumb {
	border-radius: 20px;
	overflow: hidden;
	width: 120px;
	height: 120px;
	font-size: 16px;
	/*	position: relative;*/
	/*	display: block;*/
	display: inline-block;
	/*	z-index: 10;*/
	/*	margin: 16px;*/
	/*	border: 1px gray solid;*/
	text-align: center;
	background-position: center;
	background-size: auto;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}

.mimic-dz-thumb:hover {
	background-size: cover;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
	cursor: pointer;
}

.mimic-dz-thumb span {
	background-color: rgba(255, 255, 255, 0.5);
	color: #333;
	text-shadow: 0px 0px 2px white;
	opacity: 1;
	display: inline-block;
	transition: 0.3s all ease-in-out;
}

.mimic-dz-thumb:hover span {
	font-size: 4px;
	opacity: 0.2;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}

.smaller {
	font-size: 0.8em;
}

.thumb-captions {
	width: 120px;
	overflow-y: hidden;
	height: 80px;
}

.thumb-caption {
	width: 120px;
	font-size: 12px;
}


.mimic-form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.mimic-form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.mimic-form-control::-moz-placeholder {
	color: #777;
	opacity: 1
}

.mimic-form-control:-ms-input-placeholder {
	color: #777
}

.mimic-form-control::-webkit-input-placeholder {
	color: #777
}

.mimic-form-control[disabled],
.mimic-form-control[readonly],
fieldset[disabled] .form-control {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1
}

textarea.mimic-form-control {
	height: auto
}

/*
#morphoSourceApiResults {
	min-height: 400px;
}
*/

.container {
	margin-top: 10px;
}

.nav-tabs > li {
	position: relative;
}

.nav-tabs > li > a {
	display: inline-block;
}

.nav-tabs > li > span {
	display: none;
	cursor: pointer;
	position: absolute;
	right: 6px;
	top: 8px;
	color: red;
}

.nav-tabs > li:hover > span {
	display: inline-block;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	padding: 5px;
	height: 50px;
}

.list {
	position: absolute;
	left: 0px;
	top: 0px;
	min-width: 3000px;
	margin-left: 12px;
	margin-top: 0px;
}

.list li {
	display: table-cell;
	position: relative;
	text-align: center;
	cursor: grab;
	cursor: -webkit-grab;
	color: #efefef;
	vertical-align: middle;
}

.scroller {
	text-align: center;
	cursor: pointer;
	display: none;
	padding: 7px;
	padding-top: 11px;
	white-space: no-wrap;
	vertical-align: middle;
	background-color: #fff;
}

.scroller-right {
	float: right;
}

.scroller-left {
	float: left;
}

.scroller:hover {
	background-color: #6788b2;
	color: white;
	border-radius: 4px;
	-webkit-transition: 0.2s all ease-in;
	transition: 0.2s all ease-in;
}


pre {
	/*    outline: 1px solid #ccc;*/
	padding: 5px;
	margin: 5px;
}

.string {
	color: green;
}

.number {
	color: darkorange;
}

.boolean {
	color: blue;
}

.null {
	color: magenta;
}

.key {
	color: red;
}

.logo img {
	height: 120px;
	width: auto;
}

.logo {
	text-align: left;
}

.main-title {}

.main-subtitle {
}

#footerNav {
	display: flex;
  	justify-content: center;
}

/* ================================================
   ANIMATIONS
=================================================*/

.pulsate {
	-webkit-animation: pulsate 2s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.5;
}

@-webkit-keyframes pulsate {
	0% {
		opacity: 0.5;
		font-size: 1.75em;
	}
	50% {
		opacity: 1.0;
		font-size: 2em;
	}
	100% {
		opacity: 0.5;
		font-size: 1.75em;
	}
}

.dropzone.dz-drag-hover {
	-webkit-animation: glow 2s ease-out;
	-webkit-animation-iteration-count: infinite;
	border-color: #66afe9;
	border-width: 1px;
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s, -webkit-border-width ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, border-width ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, border-width ease-in-out .15s;
}

@-webkit-keyframes glow {
	0% {
		border-width: 1px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
	}
	50% {
		border-width: 8px;
		-webkit-box-shadow: inset 0 5px 5px rgba(0, 0, 0, .075), 0 0 18px rgba(102, 175, 233, .6);
		box-shadow: inset 0 5px 5px rgba(0, 0, 0, .075), 0 0 18px rgba(102, 175, 233, .6)
	}
	100% {
		border-width: 1px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
	}
}



/* ================================================
   MIMIC DROPZONE 
=================================================*/

.mimic-dz-thumb.dz-success .dz-success-mark {
	-webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
	-moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
	-ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
	-o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
	animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
}

.mimic-dz-thumb .dz-success-mark {
	pointer-events: none;
	opacity: 0;
	z-index: 500;
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	margin-left: -27px;
	/*	margin-top: -27px;*/
}

.mimic-dz-thumb .dz-success-mark svg {
	display: block;
	width: 54px;
	height: 54px;
}

.mimic-dz-thumb.dz-success .dz-success-mark {
	display: block;
}

.mimic-dz-thumb .dz-success-mark {
	position: absolute;
	display: none;
	left: 30px;
	top: 30px;
	width: 54px;
	height: 58px;
	left: 50%;
	margin-left: -27px;
}


















/* ================================================
   MEDIA QUERIES 
=================================================*/

@media screen and (max-width: 512px) {
	body {
		padding-top: 70px;
	}
	.navbar-header {
		height: 70px;
	}
	.logo-single {
		display: none;
	}
	.logo-double {
		display: block;
	}

	.title {
		float: none !important;
	}
	.logo {
		float: none !important;
		text-align: center;
	}

	.main-title {
		text-align: center;
		margin: 5px 0;
	}

	.main-subtitle {
		text-align: center;
		margin: 5px 0;
	}

	.body-text {
		text-align: center;
	}
}
